.menu
  text-transform: uppercase
.top-links
  height: auto
a.whatsapp
  color: green
a.messenger
  color: #3578E5
a.instagram
  color: lightpink
a.telefone
  color: #2851A3
.header-logo
  height: auto
mat-drawer-container
    display: flex
    flex-direction: column
mat-drawer
    min-width: 250px
    display: flex
    flex-direction: column
    align-items: stretch
    padding: 0
.box-logo
  background-image: url('../../assets/images/logo-jotta.png')
  background-position: center center
  background-repeat: no-repeat
  background-size: 80px
  height: 150px
  width: 150px
.profile-picture
  width: 120px
  height: 120px
  border: 5px solid white
  border-radius: 75px
  background-image: url('../../assets/images/profile.jpeg')
  background-position: center top
  background-size: contain
  background-repeat: no-repeat